altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/altgraph-0.17.2-py2.py3-none-any.whl
bfv @ git+https://github.com/yuriko627/bfv-py.git@59eadc3f79d908e65937a67cd33a0e4dfe6756e7
black==23.12.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
docopt==0.6.2
docutils==0.20.1
fonttools==4.47.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/future-0.18.2-py3-none-any.whl
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
jaraco.classes==3.3.0
keyring==24.3.0
kiwisolver==1.4.5
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/macholib-1.15.2-py2.py3-none-any.whl
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
more-itertools==10.2.0
mpmath==1.3.0
mypy-extensions==1.0.0
nh3==0.2.15
numpy==1.26.2
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
pipreqs==0.4.13
pkginfo==1.9.6
platformdirs==4.1.0
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.0
scipy==1.11.4
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/six-1.15.0-py2.py3-none-any.whl
sympy==1.12
tomli==2.0.1
twine==4.0.2
typing_extensions==4.9.0
urllib3==2.1.0
yarg==0.1.9
zipp==3.17.0
