name: Run Circuit SK

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11.1

    - name: Install dependencies
      run: |
        pip3 install -r scripts/requirements.txt

    - name: Generate Parameters for circuit and Run Tests
      run: |
        python3 scripts/circuit_sk.py -n 1024 -qis '[                                      
            1152921504606584833,
            1152921504598720513,
            1152921504597016577,
            1152921504595968001,
            1152921504595640321,
            1152921504593412097,
            1152921504592822273,
            1152921504592429057,
            1152921504589938689,
            1152921504586530817,
            1152921504585547777,
            1152921504583647233,
            1152921504581877761,
            1152921504581419009,
            1152921504580894721
        ]' -t 65537  -output_input ./src/data/sk_enc_input.json -output_constants ./src/constants/sk_enc.rs
        cargo build
        cargo test --release -- --nocapture
